html
  head
    title my First Page express and jade!
  body
    h1 Hello Express From JADE!!
    form(action="/", method="POST")
      input(type="submit", name="name", value="Enviar")
      
            
